{% extends "base.html" %}

{% block content %}
    <header><h1>Update Alert</h1></header>
    <section class="update-alert-form">
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="item_url" value="{{ alert.name }}" disabled />
            </div>
            <div class="form-group">
                <label for="item_url">Item URL</label>
                <input type="text" class="form-control" id="item_url" name="item_url"
                       value="{{ alert.item.url }}" disabled />
            </div>
            <div class="form-group">
                <label for="price_limit">Price Limit</label>
                <input type="text" id="price_limit" class="form-control" name="price_limit" placeholder='300'
                       aria-describedby="priceLimitHelp" value='{{ alert.price_limit }}'>
                <small id="priceLimitHelp" class="form-text text-muted">
                    Under which price would you like to be notified?
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </section>

{% endblock %}